name: Build Commit

on:
  push:
    branches:
      - '**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  GCC:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure CMake
        run: cmake -S . -B build -G "Ninja" -DCMAKE_CXX_COMPILER=/usr/bin/g++

      - name: Build
        run: cmake --build build --config Debug

  Clang:
      runs-on: ubuntu-latest

      steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure CMake
        run: cmake -S . -B build -G "Ninja" -DCMAKE_CXX_COMPILER=/usr/bin/clang++

      - name: Build
        run: cmake --build build --config Debug
